/* عند التركيز (focus) على input أو select */
.products-page input:focus,
.products-page select:focus {
  border-color: #000 !important;
  box-shadow: none !important;
  outline: none !important;
}

 .pagination .page-link {
    color: #000; /* اللون الأساسي للروابط */
  }

  .pagination .page-link:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
  }

  .pagination .page-item.active .page-link {
    background-color: #000;
    border-color: #000;
    color: #fff;
  }
