input:focus,
  select:focus,
  textarea:focus {
    border: 2px solid #000 !important;
    box-shadow: none !important;
    outline: none !important;
  }

  input,
  select,
  textarea {
    transition: border-color 0.3s ease;
  }

  .form-control,
  .form-select,
  textarea {
    background-color: #f8f9fa;
    border: none;
    padding: 1rem;
    border-radius: 0.75rem;
  }